# Bank Marketing Classifier

**Links de Referência**:

* https://spark.apache.org/docs/3.1.1/api/python/reference/api/pyspark.sql.DataFrame.html
* https://sparkbyexamples.com/pyspark/pyspark-structtype-and-structfield/
* https://sparkbyexamples.com/pyspark/pyspark-map-transformation/

---

* https://spark.apache.org/docs/latest/ml-pipeline.html
* https://github.com/Krupique/Explorating-Data/blob/main/PreProcessamento-Medium/PreProcessamento.ipynb
* https://spark.apache.org/docs/latest/sql-data-sources-load-save-functions.html

* https://www.databricks.com/wp-content/uploads/hubfs/notebooks/spark2.0/ML%20persistence%20in%202.0.html

### Introdução

### Data Load and Packages Imports

In [1]:
from pyspark.sql import Row #Converte RDDs em objetos do tipo Row
from pyspark.ml.feature import StringIndexer #Converte strings em valores numéricos
from pyspark.ml.linalg import Vectors #Serve para criar um vetor denso
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [2]:
import sys
print(f'System Version: {sys.version}')
print(f'Spark Context Version: {sc.version}')

System Version: 3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]
Spark Context Version: 3.0.3

In [3]:
# Spark Session - usada quando se trabalha com Dataframes no Spark
spSession = SparkSession.builder.master("local").appName("DSA-SparkMLLib").config("spark.some.config.option", "session").getOrCreate()

In [4]:
#rdd = sc.textFile('data/bank-marketing-dataset.csv')
rdd = sc.textFile('data/test.csv')

### Overview

In [5]:
type(rdd)

pyspark.rdd.RDD

In [6]:
rdd.count()

41189

In [7]:
# Listando os 5 primeiros registros
rdd.take(5)

['age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y',
 '56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no',
 '57,services,married,high.school,unknown,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no',
 '37,services,married,high.school,no,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no',
 '40,admin.,married,basic.6y,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no']

In [8]:
header = rdd.first()
rdd_body = rdd.filter(lambda x: header not in x).map(lambda l: l.split(','))

list_columns = header.replace('.', '_').upper().split(',')
list_columns

['AGE',
 'JOB',
 'MARITAL',
 'EDUCATION',
 'DEFAULT',
 'HOUSING',
 'LOAN',
 'CONTACT',
 'MONTH',
 'DAY_OF_WEEK',
 'CAMPAIGN',
 'PDAYS',
 'PREVIOUS',
 'POUTCOME',
 'EMP_VAR_RATE',
 'CONS_PRICE_IDX',
 'CONS_CONF_IDX',
 'EURIBOR3M',
 'NR_EMPLOYED',
 'Y']

In [9]:
rdd_row = rdd_body.map(lambda p: Row(
    AGE = p[0], 
    JOB = p[1], 
    MARITAL = p[2],
    EDUCATION = p[3],
    DEFAULT = p[4],
    HOUSING = p[5],
    LOAN = p[6],
    CONTACT = p[7],
    MONTH = p[8],
    DAY_OF_WEEK = p[9],
    CAMPAIGN = p[10],
    PDAYS = p[11],
    PREVIOUS = p[12],
    POUTCOME = p[13],
    EMP_VAR_RATE = p[14],
    CONS_PRICE_IDX = p[15],
    CONS_CONF_IDX = p[16],
    EURIBOR3M = p[17],
    EMPLOYED = p[18],
    TARGET = p[19]
))

In [10]:
# Criando um Dataframe
rdd_df = spSession.createDataFrame(rdd_row)
rdd_df.cache()

DataFrame[AGE: string, JOB: string, MARITAL: string, EDUCATION: string, DEFAULT: string, HOUSING: string, LOAN: string, CONTACT: string, MONTH: string, DAY_OF_WEEK: string, CAMPAIGN: string, PDAYS: string, PREVIOUS: string, POUTCOME: string, EMP_VAR_RATE: string, CONS_PRICE_IDX: string, CONS_CONF_IDX: string, EURIBOR3M: string, EMPLOYED: string, TARGET: string]

In [11]:
# Find count for empty, None, Null, Nan with string literals.
from pyspark.sql.functions import col,isnan,when,count

rdd_na = rdd_df.select([count(when(col(c).contains('None') | col(c).contains('NULL') | \
                            (col(c) == '' ) | col(c).isNull() | isnan(c), c )).alias(c)
                    for c in rdd_df.columns])
rdd_na.show()

+---+---+-------+---------+-------+-------+----+-------+-----+-----------+--------+-----+--------+--------+------------+--------------+-------------+---------+--------+------+
|AGE|JOB|MARITAL|EDUCATION|DEFAULT|HOUSING|LOAN|CONTACT|MONTH|DAY_OF_WEEK|CAMPAIGN|PDAYS|PREVIOUS|POUTCOME|EMP_VAR_RATE|CONS_PRICE_IDX|CONS_CONF_IDX|EURIBOR3M|EMPLOYED|TARGET|
+---+---+-------+---------+-------+-------+----+-------+-----+-----------+--------+-----+--------+--------+------------+--------------+-------------+---------+--------+------+
|  0|  0|      1|        0|      1|      1|   0|      0|    0|          1|       0|    0|       0|       2|           0|             1|            0|        0|       0|     0|
+---+---+-------+---------+-------+-------+----+-------+-----+-----------+--------+-----+--------+--------+------------+--------------+-------------+---------+--------+------+

In [12]:
list_columns = rdd_df.columns

for column in list_columns:
    count = rdd_df.select(column).distinct().count()
    print(f'Column: {column}\tCount: {count}')

Column: AGE	Count: 78
Column: JOB	Count: 12
Column: MARITAL	Count: 5
Column: EDUCATION	Count: 8
Column: DEFAULT	Count: 4
Column: HOUSING	Count: 4
Column: LOAN	Count: 3
Column: CONTACT	Count: 2
Column: MONTH	Count: 10
Column: DAY_OF_WEEK	Count: 6
Column: CAMPAIGN	Count: 42
Column: PDAYS	Count: 27
Column: PREVIOUS	Count: 8
Column: POUTCOME	Count: 4
Column: EMP_VAR_RATE	Count: 10
Column: CONS_PRICE_IDX	Count: 27
Column: CONS_CONF_IDX	Count: 26
Column: EURIBOR3M	Count: 316
Column: EMPLOYED	Count: 11
Column: TARGET	Count: 2

### Handling Data Missing

Columns with missing values:
* MARITAL
* DEFAULT
* HOUSING
* DAY_OF_WEEK
* POUTCOME
* CONS_PRICE_IDX

In [13]:
def getDfGroup(rdd_df, column):
    df_group = spSession.createDataFrame(rdd_df.groupBy(['TARGET', column]).agg({column: 'count'}).collect())

    df_group = df_group.orderBy(['TARGET', column, f'count({column})'], ascending=[0, 1, 0])

    return df_group

**MARITAL**

In [14]:
df_group = getDfGroup(rdd_df, 'MARITAL')

df_group.collect()

[Row(TARGET='yes', MARITAL='divorced', count(MARITAL)=476),
 Row(TARGET='yes', MARITAL='married', count(MARITAL)=2532),
 Row(TARGET='yes', MARITAL='single', count(MARITAL)=1620),
 Row(TARGET='yes', MARITAL='unknown', count(MARITAL)=12),
 Row(TARGET='no', MARITAL='', count(MARITAL)=1),
 Row(TARGET='no', MARITAL='divorced', count(MARITAL)=4136),
 Row(TARGET='no', MARITAL='married', count(MARITAL)=22396),
 Row(TARGET='no', MARITAL='single', count(MARITAL)=9947),
 Row(TARGET='no', MARITAL='unknown', count(MARITAL)=68)]

A moda do valor nulo agrupada por target é `married`, contendo 22396 registros, portanto, é com esse valor que irei preencher.

**DEFAULT**

In [15]:
df_group = getDfGroup(rdd_df, 'DEFAULT')

df_group.collect()

[Row(TARGET='yes', DEFAULT='no', count(DEFAULT)=4197),
 Row(TARGET='yes', DEFAULT='unknown', count(DEFAULT)=443),
 Row(TARGET='no', DEFAULT='', count(DEFAULT)=1),
 Row(TARGET='no', DEFAULT='no', count(DEFAULT)=28391),
 Row(TARGET='no', DEFAULT='unknown', count(DEFAULT)=8153),
 Row(TARGET='no', DEFAULT='yes', count(DEFAULT)=3)]

A moda do atributo no valor nulo agrupado por target é `no`.

**EDUCATION**

In [16]:
df_group = getDfGroup(rdd_df, 'EDUCATION')

df_group.collect()

[Row(TARGET='yes', EDUCATION='basic.4y', count(EDUCATION)=428),
 Row(TARGET='yes', EDUCATION='basic.6y', count(EDUCATION)=188),
 Row(TARGET='yes', EDUCATION='basic.9y', count(EDUCATION)=473),
 Row(TARGET='yes', EDUCATION='high.school', count(EDUCATION)=1031),
 Row(TARGET='yes', EDUCATION='illiterate', count(EDUCATION)=4),
 Row(TARGET='yes', EDUCATION='professional.course', count(EDUCATION)=595),
 Row(TARGET='yes', EDUCATION='university.degree', count(EDUCATION)=1670),
 Row(TARGET='yes', EDUCATION='unknown', count(EDUCATION)=251),
 Row(TARGET='no', EDUCATION='basic.4y', count(EDUCATION)=3748),
 Row(TARGET='no', EDUCATION='basic.6y', count(EDUCATION)=2104),
 Row(TARGET='no', EDUCATION='basic.9y', count(EDUCATION)=5572),
 Row(TARGET='no', EDUCATION='high.school', count(EDUCATION)=8484),
 Row(TARGET='no', EDUCATION='illiterate', count(EDUCATION)=14),
 Row(TARGET='no', EDUCATION='professional.course', count(EDUCATION)=4648),
 Row(TARGET='no', EDUCATION='university.degree', count(EDUCATION)=10498),
 Row(TARGET='no', EDUCATION='unknown', count(EDUCATION)=1480)]

Neste atributo, temos valores `unknown`, porém, não irei considerar como valor nulo.

**HOUSING**

In [17]:
df_group = getDfGroup(rdd_df, 'HOUSING')

df_group.collect()

[Row(TARGET='yes', HOUSING='no', count(HOUSING)=2026),
 Row(TARGET='yes', HOUSING='unknown', count(HOUSING)=107),
 Row(TARGET='yes', HOUSING='yes', count(HOUSING)=2507),
 Row(TARGET='no', HOUSING='', count(HOUSING)=1),
 Row(TARGET='no', HOUSING='no', count(HOUSING)=16596),
 Row(TARGET='no', HOUSING='unknown', count(HOUSING)=883),
 Row(TARGET='no', HOUSING='yes', count(HOUSING)=19068)]

A moda do atributo no valor nulo agrupado por target é `yes`.

**DAY_OF_WEEK**

In [18]:
df_group = getDfGroup(rdd_df, 'DAY_OF_WEEK')

df_group.collect()

[Row(TARGET='yes', DAY_OF_WEEK='fri', count(DAY_OF_WEEK)=846),
 Row(TARGET='yes', DAY_OF_WEEK='mon', count(DAY_OF_WEEK)=847),
 Row(TARGET='yes', DAY_OF_WEEK='thu', count(DAY_OF_WEEK)=1045),
 Row(TARGET='yes', DAY_OF_WEEK='tue', count(DAY_OF_WEEK)=953),
 Row(TARGET='yes', DAY_OF_WEEK='wed', count(DAY_OF_WEEK)=949),
 Row(TARGET='no', DAY_OF_WEEK='', count(DAY_OF_WEEK)=1),
 Row(TARGET='no', DAY_OF_WEEK='fri', count(DAY_OF_WEEK)=6981),
 Row(TARGET='no', DAY_OF_WEEK='mon', count(DAY_OF_WEEK)=7666),
 Row(TARGET='no', DAY_OF_WEEK='thu', count(DAY_OF_WEEK)=7578),
 Row(TARGET='no', DAY_OF_WEEK='tue', count(DAY_OF_WEEK)=7137),
 Row(TARGET='no', DAY_OF_WEEK='wed', count(DAY_OF_WEEK)=7185)]

A moda do atributo no valor nulo agrupado por target é `mon`.

**POUTCOME**

In [19]:
df_group = getDfGroup(rdd_df, 'POUTCOME')

df_group.collect()

[Row(TARGET='yes', POUTCOME='failure', count(POUTCOME)=605),
 Row(TARGET='yes', POUTCOME='nonexistent', count(POUTCOME)=3141),
 Row(TARGET='yes', POUTCOME='success', count(POUTCOME)=894),
 Row(TARGET='no', POUTCOME='', count(POUTCOME)=2),
 Row(TARGET='no', POUTCOME='failure', count(POUTCOME)=3647),
 Row(TARGET='no', POUTCOME='nonexistent', count(POUTCOME)=32420),
 Row(TARGET='no', POUTCOME='success', count(POUTCOME)=479)]

A moda do atributo no valor nulo agrupado por target é `nonexistent`.

**CONS_PRICE_IDX**

In [20]:
df_group = getDfGroup(rdd_df, 'CONS_PRICE_IDX')

df_group.collect()

[Row(TARGET='yes', CONS_PRICE_IDX='92.20100000000001', count(CONS_PRICE_IDX)=264),
 Row(TARGET='yes', CONS_PRICE_IDX='92.37899999999999', count(CONS_PRICE_IDX)=106),
 Row(TARGET='yes', CONS_PRICE_IDX='92.431', count(CONS_PRICE_IDX)=180),
 Row(TARGET='yes', CONS_PRICE_IDX='92.469', count(CONS_PRICE_IDX)=66),
 Row(TARGET='yes', CONS_PRICE_IDX='92.649', count(CONS_PRICE_IDX)=168),
 Row(TARGET='yes', CONS_PRICE_IDX='92.713', count(CONS_PRICE_IDX)=88),
 Row(TARGET='yes', CONS_PRICE_IDX='92.756', count(CONS_PRICE_IDX)=1),
 Row(TARGET='yes', CONS_PRICE_IDX='92.84299999999999', count(CONS_PRICE_IDX)=126),
 Row(TARGET='yes', CONS_PRICE_IDX='92.89299999999999', count(CONS_PRICE_IDX)=524),
 Row(TARGET='yes', CONS_PRICE_IDX='92.963', count(CONS_PRICE_IDX)=264),
 Row(TARGET='yes', CONS_PRICE_IDX='93.075', count(CONS_PRICE_IDX)=442),
 Row(TARGET='yes', CONS_PRICE_IDX='93.2', count(CONS_PRICE_IDX)=190),
 Row(TARGET='yes', CONS_PRICE_IDX='93.369', count(CONS_PRICE_IDX)=150),
 Row(TARGET='yes', CONS_PRICE_IDX='93.444', count(CONS_PRICE_IDX)=271),
 Row(TARGET='yes', CONS_PRICE_IDX='93.749', count(CONS_PRICE_IDX)=97),
 Row(TARGET='yes', CONS_PRICE_IDX='93.79799999999999', count(CONS_PRICE_IDX)=42),
 Row(TARGET='yes', CONS_PRICE_IDX='93.876', count(CONS_PRICE_IDX)=122),
 Row(TARGET='yes', CONS_PRICE_IDX='93.91799999999999', count(CONS_PRICE_IDX)=407),
 Row(TARGET='yes', CONS_PRICE_IDX='93.994', count(CONS_PRICE_IDX)=240),
 Row(TARGET='yes', CONS_PRICE_IDX='94.027', count(CONS_PRICE_IDX)=120),
 Row(TARGET='yes', CONS_PRICE_IDX='94.055', count(CONS_PRICE_IDX)=107),
 Row(TARGET='yes', CONS_PRICE_IDX='94.199', count(CONS_PRICE_IDX)=150),
 Row(TARGET='yes', CONS_PRICE_IDX='94.215', count(CONS_PRICE_IDX)=176),
 Row(TARGET='yes', CONS_PRICE_IDX='94.465', count(CONS_PRICE_IDX)=188),
 Row(TARGET='yes', CONS_PRICE_IDX='94.601', count(CONS_PRICE_IDX)=93),
 Row(TARGET='yes', CONS_PRICE_IDX='94.76700000000001', count(CONS_PRICE_IDX)=58),
 Row(TARGET='no', CONS_PRICE_IDX='', count(CONS_PRICE_IDX)=1),
 Row(TARGET='no', CONS_PRICE_IDX='92.20100000000001', count(CONS_PRICE_IDX)=506),
 Row(TARGET='no', CONS_PRICE_IDX='92.37899999999999', count(CONS_PRICE_IDX)=161),
 Row(TARGET='no', CONS_PRICE_IDX='92.431', count(CONS_PRICE_IDX)=267),
 Row(TARGET='no', CONS_PRICE_IDX='92.469', count(CONS_PRICE_IDX)=112),
 Row(TARGET='no', CONS_PRICE_IDX='92.649', count(CONS_PRICE_IDX)=189),
 Row(TARGET='no', CONS_PRICE_IDX='92.713', count(CONS_PRICE_IDX)=84),
 Row(TARGET='no', CONS_PRICE_IDX='92.756', count(CONS_PRICE_IDX)=9),
 Row(TARGET='no', CONS_PRICE_IDX='92.84299999999999', count(CONS_PRICE_IDX)=156),
 Row(TARGET='no', CONS_PRICE_IDX='92.89299999999999', count(CONS_PRICE_IDX)=5270),
 Row(TARGET='no', CONS_PRICE_IDX='92.963', count(CONS_PRICE_IDX)=451),
 Row(TARGET='no', CONS_PRICE_IDX='93.075', count(CONS_PRICE_IDX)=2016),
 Row(TARGET='no', CONS_PRICE_IDX='93.2', count(CONS_PRICE_IDX)=3426),
 Row(TARGET='no', CONS_PRICE_IDX='93.369', count(CONS_PRICE_IDX)=114),
 Row(TARGET='no', CONS_PRICE_IDX='93.444', count(CONS_PRICE_IDX)=4904),
 Row(TARGET='no', CONS_PRICE_IDX='93.749', count(CONS_PRICE_IDX)=77),
 Row(TARGET='no', CONS_PRICE_IDX='93.79799999999999', count(CONS_PRICE_IDX)=25),
 Row(TARGET='no', CONS_PRICE_IDX='93.876', count(CONS_PRICE_IDX)=90),
 Row(TARGET='no', CONS_PRICE_IDX='93.91799999999999', count(CONS_PRICE_IDX)=6278),
 Row(TARGET='no', CONS_PRICE_IDX='93.994', count(CONS_PRICE_IDX)=7522),
 Row(TARGET='no', CONS_PRICE_IDX='94.027', count(CONS_PRICE_IDX)=113),
 Row(TARGET='no', CONS_PRICE_IDX='94.055', count(CONS_PRICE_IDX)=122),
 Row(TARGET='no', CONS_PRICE_IDX='94.199', count(CONS_PRICE_IDX)=153),
 Row(TARGET='no', CONS_PRICE_IDX='94.215', count(CONS_PRICE_IDX)=135),
 Row(TARGET='no', CONS_PRICE_IDX='94.465', count(CONS_PRICE_IDX)=4186),
 Row(TARGET='no', CONS_PRICE_IDX='94.601', count(CONS_PRICE_IDX)=111),
 Row(TARGET='no', CONS_PRICE_IDX='94.76700000000001', count(CONS_PRICE_IDX)=70)]

A moda do atributo no valor nulo agrupado por target é `93.91799999999999`.

In [21]:
def verificarNA(c):
    c = c.upper()
    if c == 'NONE' or c == 'NULL' or c == '' or c == 'NAN':
        return True
    return False

def mapNA(x):
    AGE = x.AGE
    JOB = x.JOB
    MARITAL = x.MARITAL
    EDUCATION = x.EDUCATION
    DEFAULT = x.DEFAULT
    HOUSING = x.HOUSING
    LOAN = x.LOAN
    CONTACT = x.CONTACT
    MONTH = x.MONTH
    DAY_OF_WEEK = x.DAY_OF_WEEK
    CAMPAIGN = x.CAMPAIGN
    PDAYS = x.PDAYS
    PREVIOUS = x.PREVIOUS
    POUTCOME = x.POUTCOME
    EMP_VAR_RATE = x.EMP_VAR_RATE
    CONS_PRICE_IDX = x.CONS_PRICE_IDX
    CONS_CONF_IDX = x.CONS_CONF_IDX
    EURIBOR3M = x.EURIBOR3M
    EMPLOYED = x.EMPLOYED
    TARGET = x.TARGET
    
    #Corrigindo valores missing
    if verificarNA(x.MARITAL):
        MARITAL = 'married'
        
    if verificarNA(x.DEFAULT):
        DEFAULT = 'no'
        
    if verificarNA(x.HOUSING):
        HOUSING = 'yes'
        
    if verificarNA(x.DAY_OF_WEEK):
        DAY_OF_WEEK = 'mon'
        
    if verificarNA(x.POUTCOME):
        POUTCOME = 'nonexistent'
        
    if verificarNA(x.CONS_PRICE_IDX):
        CONS_PRICE_IDX = '93.91799999999999'
    
    
    return (AGE, JOB, MARITAL, EDUCATION, DEFAULT, HOUSING, LOAN, CONTACT, MONTH, DAY_OF_WEEK, CAMPAIGN, PDAYS, PREVIOUS, POUTCOME, EMP_VAR_RATE, CONS_PRICE_IDX, CONS_CONF_IDX, EURIBOR3M, EMPLOYED, TARGET)

In [22]:
rdd_row = rdd_df.rdd.map(lambda x: mapNA(x))

# Criando um Dataframe
rdd_df = spSession.createDataFrame(rdd_row, schema=list_columns)
rdd_df.cache()

DataFrame[AGE: string, JOB: string, MARITAL: string, EDUCATION: string, DEFAULT: string, HOUSING: string, LOAN: string, CONTACT: string, MONTH: string, DAY_OF_WEEK: string, CAMPAIGN: string, PDAYS: string, PREVIOUS: string, POUTCOME: string, EMP_VAR_RATE: string, CONS_PRICE_IDX: string, CONS_CONF_IDX: string, EURIBOR3M: string, EMPLOYED: string, TARGET: string]

In [23]:
rdd_df.show(5)

+---+---------+-------+-----------+-------+-------+----+---------+-----+-----------+--------+-----+--------+-----------+------------+--------------+-------------+---------+--------+------+
|AGE|      JOB|MARITAL|  EDUCATION|DEFAULT|HOUSING|LOAN|  CONTACT|MONTH|DAY_OF_WEEK|CAMPAIGN|PDAYS|PREVIOUS|   POUTCOME|EMP_VAR_RATE|CONS_PRICE_IDX|CONS_CONF_IDX|EURIBOR3M|EMPLOYED|TARGET|
+---+---------+-------+-----------+-------+-------+----+---------+-----+-----------+--------+-----+--------+-----------+------------+--------------+-------------+---------+--------+------+
| 56|housemaid|married|   basic.4y|     no|     no|  no|telephone|  may|        mon|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|  5191.0|    no|
| 57| services|married|high.school|unknown|     no|  no|telephone|  may|        mon|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|  5191.0|    no|
| 37| services|married|high.school|     no|    yes|  no|telephone|  may|        mon|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|  5191.0|    no|
| 40|   admin.|married|   basic.6y|     no|     no|  no|telephone|  may|        mon|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|  5191.0|    no|
| 56| services|married|high.school|     no|     no| yes|telephone|  may|        mon|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|  5191.0|    no|
+---+---------+-------+-----------+-------+-------+----+---------+-----+-----------+--------+-----+--------+-----------+------------+--------------+-------------+---------+--------+------+
only showing top 5 rows

### Alterando o tipo de dado

In [24]:
for column in list_columns:
    rdd_df.select(column).show(5)
    rdd_df.select(column).distinct()

+---+
|AGE|
+---+
| 56|
| 57|
| 37|
| 40|
| 56|
+---+
only showing top 5 rows

+---------+
|      JOB|
+---------+
|housemaid|
| services|
| services|
|   admin.|
| services|
+---------+
only showing top 5 rows

+-------+
|MARITAL|
+-------+
|married|
|married|
|married|
|married|
|married|
+-------+
only showing top 5 rows

+-----------+
|  EDUCATION|
+-----------+
|   basic.4y|
|high.school|
|high.school|
|   basic.6y|
|high.school|
+-----------+
only showing top 5 rows

+-------+
|DEFAULT|
+-------+
|     no|
|unknown|
|     no|
|     no|
|     no|
+-------+
only showing top 5 rows

+-------+
|HOUSING|
+-------+
|     no|
|     no|
|    yes|
|     no|
|     no|
+-------+
only showing top 5 rows

+----+
|LOAN|
+----+
|  no|
|  no|
|  no|
|  no|
| yes|
+----+
only showing top 5 rows

+---------+
|  CONTACT|
+---------+
|telephone|
|telephone|
|telephone|
|telephone|
|telephone|
+---------+
only showing top 5 rows

+-----+
|MONTH|
+-----+
|  may|
|  may|
|  may|
|  may|
|  may|
+-----+
only showing top 5 rows

+-----------+
|DAY_OF_WEEK|
+-----------+
|        mon|
|        mon|
|        mon|
|        mon|
|        mon|
+-----------+
only showing top 5 rows

+--------+
|CAMPAIGN|
+--------+
|       1|
|       1|
|       1|
|       1|
|       1|
+--------+
only showing top 5 rows

+-----+
|PDAYS|
+-----+
|  999|
|  999|
|  999|
|  999|
|  999|
+-----+
only showing top 5 rows

+--------+
|PREVIOUS|
+--------+
|       0|
|       0|
|       0|
|       0|
|       0|
+--------+
only showing top 5 rows

+-----------+
|   POUTCOME|
+-----------+
|nonexistent|
|nonexistent|
|nonexistent|
|nonexistent|
|nonexistent|
+-----------+
only showing top 5 rows

+------------+
|EMP_VAR_RATE|
+------------+
|         1.1|
|         1.1|
|         1.1|
|         1.1|
|         1.1|
+------------+
only showing top 5 rows

+--------------+
|CONS_PRICE_IDX|
+--------------+
|        93.994|
|        93.994|
|        93.994|
|        93.994|
|        93.994|
+--------------+
only showing top 5 rows

+-------------+
|CONS_CONF_IDX|
+-------------+
|        -36.4|
|        -36.4|
|        -36.4|
|        -36.4|
|        -36.4|
+-------------+
only showing top 5 rows

+---------+
|EURIBOR3M|
+---------+
|    4.857|
|    4.857|
|    4.857|
|    4.857|
|    4.857|
+---------+
only showing top 5 rows

+--------+
|EMPLOYED|
+--------+
|  5191.0|
|  5191.0|
|  5191.0|
|  5191.0|
|  5191.0|
+--------+
only showing top 5 rows

+------+
|TARGET|
+------+
|    no|
|    no|
|    no|
|    no|
|    no|
+------+
only showing top 5 rows

---

In [25]:
from pyspark.sql.types import IntegerType, BooleanType, DateType, StringType, FloatType

rdd_df = rdd_df.withColumn('AGE', col('AGE').cast(IntegerType()))
rdd_df = rdd_df.withColumn('CAMPAIGN ', col('CAMPAIGN').cast(IntegerType()))
rdd_df = rdd_df.withColumn('AGE', col('AGE').cast(IntegerType()))
rdd_df = rdd_df.withColumn('PDAYS', col('PDAYS').cast(IntegerType()))
rdd_df = rdd_df.withColumn('PREVIOUS', col('PREVIOUS').cast(IntegerType()))

rdd_df = rdd_df.withColumn('EMP_VAR_RATE', col('EMP_VAR_RATE').cast(FloatType()))
rdd_df = rdd_df.withColumn('CONS_PRICE_IDX', col('CONS_PRICE_IDX').cast(FloatType()))
rdd_df = rdd_df.withColumn('CONS_CONF_IDX', col('CONS_CONF_IDX').cast(FloatType()))
rdd_df = rdd_df.withColumn('EURIBOR3M', col('EURIBOR3M').cast(FloatType()))
rdd_df = rdd_df.withColumn('EMPLOYED', col('EMPLOYED').cast(FloatType()))

In [26]:
rdd_df.dtypes

[('AGE', 'int'),
 ('JOB', 'string'),
 ('MARITAL', 'string'),
 ('EDUCATION', 'string'),
 ('DEFAULT', 'string'),
 ('HOUSING', 'string'),
 ('LOAN', 'string'),
 ('CONTACT', 'string'),
 ('MONTH', 'string'),
 ('DAY_OF_WEEK', 'string'),
 ('CAMPAIGN', 'string'),
 ('PDAYS', 'int'),
 ('PREVIOUS', 'int'),
 ('POUTCOME', 'string'),
 ('EMP_VAR_RATE', 'float'),
 ('CONS_PRICE_IDX', 'float'),
 ('CONS_CONF_IDX', 'float'),
 ('EURIBOR3M', 'float'),
 ('EMPLOYED', 'float'),
 ('TARGET', 'string'),
 ('CAMPAIGN ', 'int')]

### Normalização e Encoding dos dados

In [27]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer, OneHotEncoder
from pyspark.ml.functions import vector_to_array
import pyspark.sql.functions as F

In [28]:
columns_str = ['JOB', 'MARITAL', 'EDUCATION', 'DEFAULT', 'HOUSING', 
               'LOAN', 'CONTACT', 'MONTH', 'DAY_OF_WEEK', 'POUTCOME', 'TARGET']

**Fazer o one hot encoding**

In [ ]:
'''columns_idx = ['IDX_JOB', 'IDX_MARITAL', 'IDX_EDUCATION', 'IDX_DEFAULT', 'IDX_HOUSING', 
               'IDX_LOAN', 'IDX_CONTACT', 'IDX_MONTH', 'IDX_DAY_OF_WEEK', 'IDX_POUTCOME', 'IDX_TARGET']'''

In [ ]:
'''for column in columns_str:
    count = df_r.select(column).distinct().count()
    print(f'Count of distinct values {count} of column {column}')
    df_group = spSession.createDataFrame(df_r.groupBy([column]).agg({column: 'count'}).collect())
    
    df_group.show()'''

In [29]:
# Função expandir as colunas que foram geradas pelo OneHotEncoding.
def _oneHotEncoder(df, column):
    
    alias = f'_{column}'
    df_col_onehot = df.select('*', vector_to_array(column).alias(alias))


    num_categories = len(df_col_onehot.first()[alias])
    cols_expanded = [(F.col(alias)[i]) for i in range(num_categories)]
    df_cols_onehot = df_col_onehot.select('*', *cols_expanded)
    
    return df_cols_onehot, cols_expanded

In [30]:
# LabelEncoder
indexers = [ StringIndexer(inputCol=c, outputCol="OHE_{0}".format(c)) for c in columns_str]

# Criação do array de Encoders
encoders = [
    OneHotEncoder(
        inputCol=indexer.getOutputCol(),
        outputCol="_{0}".format(indexer.getOutputCol())) 
    for indexer in indexers
]

In [31]:
# Aplica os dois métodos: LabelEncoder e OneHotEncoder
pipeline = Pipeline(stages=indexers + encoders)
df_temp = pipeline.fit(rdd_df).transform(rdd_df)

# Obtendo todas as colunas de saída do Encoder
encoder_columns = [encoder.getOutputCol() for encoder in encoders]

# Expandindo o array gerado pelo OneHotEncoding para Colunas individuais
ohe_columns = []
for column in encoder_columns: 
    df_temp, _ohe = _oneHotEncoder(df_temp, column)
    
    ohe_columns.extend(_ohe)

In [32]:
df_res = df_temp.select('AGE', 'PDAYS', 'PREVIOUS', 
                         'EMP_VAR_RATE', 'CONS_PRICE_IDX', 
                         'CONS_CONF_IDX', 'EURIBOR3M', 'EMPLOYED', 
                         'TARGET', 'CAMPAIGN', *ohe_columns)

df_res.show(1)

+---+-----+--------+------------+--------------+-------------+---------+--------+------+--------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+-------------+----------------+----------------+----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+----------------+----------------+----------------+----------------+-------------+-------------+----------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------------+--------------------+--------------------+--------------------+-----------------+-----------------+---------------+
|AGE|PDAYS|PREVIOUS|EMP_VAR_RATE|CONS_PRICE_IDX|CONS_CONF_IDX|EURIBOR3M|EMPLOYED|TARGET|CAMPAIGN|__OHE_JOB[0]|__OHE_JOB[1]|__OHE_JOB[2]|__OHE_JOB[3]|__OHE_JOB[4]|__OHE_JOB[5]|__OHE_JOB[6]|__OHE_JOB[7]|__OHE_JOB[8]|__OHE_JOB[9]|__OHE_JOB[10]|__OHE_MARITAL[0]|__OHE_MARITAL[1]|__OHE_MARITAL[2]|__OHE_EDUCATION[0]|__OHE_EDUCATION[1]|__OHE_EDUCATION[2]|__OHE_EDUCATION[3]|__OHE_EDUCATION[4]|__OHE_EDUCATION[5]|__OHE_EDUCATION[6]|__OHE_DEFAULT[0]|__OHE_DEFAULT[1]|__OHE_HOUSING[0]|__OHE_HOUSING[1]|__OHE_LOAN[0]|__OHE_LOAN[1]|__OHE_CONTACT[0]|__OHE_MONTH[0]|__OHE_MONTH[1]|__OHE_MONTH[2]|__OHE_MONTH[3]|__OHE_MONTH[4]|__OHE_MONTH[5]|__OHE_MONTH[6]|__OHE_MONTH[7]|__OHE_MONTH[8]|__OHE_DAY_OF_WEEK[0]|__OHE_DAY_OF_WEEK[1]|__OHE_DAY_OF_WEEK[2]|__OHE_DAY_OF_WEEK[3]|__OHE_POUTCOME[0]|__OHE_POUTCOME[1]|__OHE_TARGET[0]|
+---+-----+--------+------------+--------------+-------------+---------+--------+------+--------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+-------------+----------------+----------------+----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+----------------+----------------+----------------+----------------+-------------+-------------+----------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------------+--------------------+--------------------+--------------------+-----------------+-----------------+---------------+
| 56|  999|       0|         1.1|        93.994|        -36.4|    4.857|  5191.0|    no|       1|         0.0|         0.0|         0.0|         0.0|         0.0|         0.0|         0.0|         0.0|         1.0|         0.0|          0.0|             1.0|             0.0|             0.0|               0.0|               0.0|               0.0|               0.0|               1.0|               0.0|               0.0|             1.0|             0.0|             0.0|             1.0|          1.0|          0.0|             0.0|           1.0|           0.0|           0.0|           0.0|           0.0|           0.0|           0.0|           0.0|           0.0|                 0.0|                 1.0|                 0.0|                 0.0|              1.0|              0.0|            1.0|
+---+-----+--------+------------+--------------+-------------+---------+--------+------+--------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+-------------+----------------+----------------+----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+----------------+----------------+----------------+----------------+-------------+-------------+----------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------------+--------------------+--------------------+--------------------+-----------------+-----------------+---------------+
only showing top 1 row

### Pré Processamento dos Dados

In [33]:
def transformaVar(row) :
    obj = (row['TARGET'], row['__OHE_TARGET[0]'], Vectors.dense([
                                                            row['AGE'],
                                                            row['PDAYS'],
                                                            row['PREVIOUS'],
                                                            row['EMP_VAR_RATE'],
                                                            row['CONS_PRICE_IDX'],
                                                            row['CONS_CONF_IDX'],
                                                            row['EURIBOR3M'],
                                                            row['EMPLOYED'],
                                                            row['CAMPAIGN'],
                                                            row['__OHE_JOB[0]'],
                                                            row['__OHE_JOB[1]'],
                                                            row['__OHE_JOB[2]'],
                                                            row['__OHE_JOB[3]'],
                                                            row['__OHE_JOB[4]'],
                                                            row['__OHE_JOB[5]'],
                                                            row['__OHE_JOB[6]'],
                                                            row['__OHE_JOB[7]'],
                                                            row['__OHE_JOB[8]'],
                                                            row['__OHE_JOB[9]'],
                                                            row['__OHE_JOB[10]'],
                                                            row['__OHE_MARITAL[0]'],
                                                            row['__OHE_MARITAL[1]'],
                                                            row['__OHE_MARITAL[2]'],
                                                            row['__OHE_EDUCATION[0]'],
                                                            row['__OHE_EDUCATION[1]'],
                                                            row['__OHE_EDUCATION[2]'],
                                                            row['__OHE_EDUCATION[3]'],
                                                            row['__OHE_EDUCATION[4]'],
                                                            row['__OHE_EDUCATION[5]'],
                                                            row['__OHE_EDUCATION[6]'],
                                                            row['__OHE_DEFAULT[0]'],
                                                            row['__OHE_DEFAULT[1]'],
                                                            row['__OHE_HOUSING[0]'],
                                                            row['__OHE_HOUSING[1]'],
                                                            row['__OHE_LOAN[0]'],
                                                            row['__OHE_LOAN[1]'],
                                                            row['__OHE_CONTACT[0]'],
                                                            row['__OHE_MONTH[0]'],
                                                            row['__OHE_MONTH[1]'],
                                                            row['__OHE_MONTH[2]'],
                                                            row['__OHE_MONTH[3]'],
                                                            row['__OHE_MONTH[4]'],
                                                            row['__OHE_MONTH[5]'],
                                                            row['__OHE_MONTH[6]'],
                                                            row['__OHE_MONTH[7]'],
                                                            row['__OHE_MONTH[8]'],
                                                            row['__OHE_DAY_OF_WEEK[0]'],
                                                            row['__OHE_DAY_OF_WEEK[1]'],
                                                            row['__OHE_DAY_OF_WEEK[2]'],
                                                            row['__OHE_DAY_OF_WEEK[3]'],
                                                            row['__OHE_POUTCOME[0]'],
                                                            row['__OHE_POUTCOME[1]']
                                                            ]))
    return obj

In [34]:
rdd_processing = df_res.rdd.map(transformaVar)

rdd_processing.take(1)

[('no',
  1.0,
  DenseVector([56.0, 999.0, 0.0, 1.1, 93.994, -36.4, 4.857, 5191.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0]))]

In [35]:
df_processing = spSession.createDataFrame(rdd_processing, ["target", "label", "features"])
df_processing.show(10)
df_processing.cache()

+------+-----+--------------------+
|target|label|            features|
+------+-----+--------------------+
|    no|  1.0|[56.0,999.0,0.0,1...|
|    no|  1.0|[57.0,999.0,0.0,1...|
|    no|  1.0|[37.0,999.0,0.0,1...|
|    no|  1.0|[40.0,999.0,0.0,1...|
|    no|  1.0|[56.0,999.0,0.0,1...|
|    no|  1.0|[45.0,999.0,0.0,1...|
|    no|  1.0|[59.0,999.0,0.0,1...|
|    no|  1.0|[41.0,999.0,0.0,1...|
|    no|  1.0|[24.0,999.0,0.0,1...|
|    no|  1.0|[25.0,999.0,0.0,1...|
+------+-----+--------------------+
only showing top 10 rows

DataFrame[target: string, label: double, features: vector]

### Escala dos Dados

In [36]:
from pyspark.ml.feature import RobustScaler, StandardScaler, MinMaxScaler, Normalizer

In [37]:
scaler = StandardScaler(inputCol='features', outputCol='features_scaled')

### Divisão em treino e teste

In [50]:
# Dados de Treino e de Teste
(dados_treino, dados_teste, dados_valid) = df_processing.randomSplit([0.78, 0.2, 0.02])

dados_treino.count(), dados_teste.count(), dados_valid.count()

(31988, 8339, 861)

### Machine Learning

In [107]:
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.classification import GBTClassifier
from pyspark.ml.classification import LinearSVC

In [101]:
#dtClassifer = RandomForestClassifier(labelCol = "label", featuresCol = "features")
#dtClassifer = GBTClassifier(labelCol = "label", featuresCol = "features_scaled")
dtClassifer = LinearSVC(labelCol = "label", featuresCol = "features")

### Aplicando Pipeline, Treinando e Prevendo o Modelo

In [102]:
pipeline = Pipeline(stages=[scaler, dtClassifer])

model = pipeline.fit(dados_treino)

In [103]:
# Previsões com dados de teste
previsoes = model.transform(dados_teste)

#previsoes.select("prediction","target","label").collect()

### Avaliação do Modelo

In [104]:
# Avaliando a acurácia
avaliador = MulticlassClassificationEvaluator(predictionCol = "prediction", labelCol = "label", metricName = "weightedFalsePositiveRate")
avaliador.evaluate(previsoes)

0.8391824857085266

In [105]:
# Resumindo as previsões - Confusion Matrix
previsoes.groupBy("label","prediction").count().show()

+-----+----------+-----+
|label|prediction|count|
+-----+----------+-----+
|  1.0|       1.0| 7339|
|  0.0|       1.0|  887|
|  1.0|       0.0|   61|
|  0.0|       0.0|   52|
+-----+----------+-----+

### Salvando o Modelo

In [95]:
#Save model
model.write().overwrite().save('models/modelo_v1')

### Carregando o Modelo

In [96]:
from pyspark.ml import Pipeline, PipelineModel

In [97]:
model_load = PipelineModel.load('models/modelo_v1')

In [98]:
preds_valid = model_load.transform(dados_valid)

avaliador = MulticlassClassificationEvaluator(predictionCol = "prediction", labelCol = "label", metricName = "weightedFalsePositiveRate")
avaliador.evaluate(preds_valid)

0.7754207192913211

In [99]:
# Resumindo as previsões - Confusion Matrix
preds_valid.groupBy("label","prediction").count().show()

+-----+----------+-----+
|label|prediction|count|
+-----+----------+-----+
|  1.0|       1.0|  768|
|  0.0|       1.0|   74|
|  1.0|       0.0|    7|
|  0.0|       0.0|   12|
+-----+----------+-----+

### Considerações Finais